**1.1: Import Necessary Libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%inline matplotlib

UsageError: Line magic function `%inline` not found.

**1.1: Fetching and Uploading Dataset from Kaggle**

In [ ]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
files.upload()

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [6]:
!kaggle competitions download -c udacity-mlcharity-competition
!chmod 600 ~/.kaggle/kaggle.json 
!unzip \*.zip

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading example_submission.csv to /content
  0% 0.00/342k [00:00<?, ?B/s]
100% 342k/342k [00:00<00:00, 82.5MB/s]
Downloading test_census.csv.zip to /content
  0% 0.00/481k [00:00<?, ?B/s]
100% 481k/481k [00:00<00:00, 67.3MB/s]
Downloading census.csv.zip to /content
  0% 0.00/388k [00:00<?, ?B/s]
100% 388k/388k [00:00<00:00, 52.5MB/s]
Archive:  census.csv.zip
  inflating: census.csv

Archive:  test_census.csv.zip
  inflating: test_census.csv

2 archives were successfully processed.

In [4]:
df_train = pd.read_csv('census.csv')
df_test = pd.read_csv('test_census.csv')

In [5]:
df_train.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K